<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center"><a style="cursor: pointer;" title="Page Accueil" href="/">Application Mcommerce</a></h1>
        <div class="col-md-4 mx-auto mt-5 text-center">

            <p>
                Ici l'utilisateur sélectionne en temps normal un moyen de paiement et entre les informations de sa carte bancaire.<br/>
                Nous allons éviter d'ajouter les formulaires nécessaireS afin de garder l'application la plus basique et simple possible pour la suite.<br/>
                Si vous vous sentez à l'aise, vous pouvez créer un formulaire pour accepter le numéro de la CB, que vous traiterez dans le contrôleur grâce à
                un <i>PostMapping</i>.
            </p>

            <a th:href="@{|/payer-commande/${commande.id}/${montant} }"  class="font-weight-bold">Payer Ma commande </a>

        </div>
    </div>
</body>
</html>